.training-instructions-1 {
    font-size: 1.5rem;
}
.training-instructions-2 {
    color:darkblue;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.next-letter {
    text-align: center;
    font-size: 25rem;
    font-weight: 750;
}

.counter-text {
    text-align: center;
}

.ghost-textbox {
    float: right;
    opacity: 0;
}
.green-text{
    color: green;
}

.red-text {
    color: red;
}

.my-progress-bar {
    padding-right: 0px;
    padding-left: 0px;
}

.my-big-button {
    padding: 1.5rem 0rem;
    font-size: 2rem;
    border-radius: 1rem;
    flex: 0 0 33.333333%;
    max-width: 32%;
}

.my-button-gutter {
    margin-right: 2%;
    margin-left: 2%;
}

.my-navbar {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.my-nav-separator {
    color: rgba(255,255,255,.5);
    padding: 0.5rem 0rem;
    text-transform: uppercase;
}

h3 {
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.truncate-table-data {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 37rem;
}

.card-title{
    padding: 1rem;
}

.card-header {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}